In [22]:
import pandas as pd
import requests

In [23]:
def read_worldometer_web_page():
    url = "https://www.worldometers.info/coronavirus/"
    response_obj = requests.get(url);
    worldometer_text = response_obj.text;
    return worldometer_text

In [24]:
worldometer_text = read_worldometer_web_page()

In [57]:
# uncomment below line to see extracted html data
# worldometer_text

In [26]:
data = pd.read_html(worldometer_text)

In [43]:
type(data)

list

In [45]:
df = data[0]

In [59]:
# uncomment below line to see what we have inside data-frame
# df

In [60]:
df.columns

Index(['Country,Other', 'TotalCases', 'NewCases', 'TotalDeaths', 'NewDeaths',
       'TotalRecovered', 'ActiveCases', 'Serious,Critical', 'TotÂ Cases/1M pop',
       'Deaths/1M pop', 'TotalTests', 'Tests/ 1M pop'],
      dtype='object')

In [61]:
df[['Country,Other', 'TotalCases', 'NewCases', 'TotalDeaths', 'NewDeaths', 'TotalRecovered']]

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered
0,World,1831203,"+51,460",113013.0,"+4,234",420484.0
1,USA,545934,"+13,055",21474.0,+897,31120.0
2,Spain,166019,"+2,992",16972.0,+366,62391.0
3,Italy,156363,"+4,092",19899.0,+431,34211.0
4,France,132591,"+2,937",14393.0,+561,27186.0
5,Germany,126656,"+1,204",2908.0,+37,60300.0
6,UK,84279,"+5,288",10612.0,+737,344.0
7,Iran,71686,"+1,657",4474.0,+117,43894.0
8,Turkey,56956,"+4,789",1198.0,+97,3446.0
9,Belgium,29647,"+1,629",3600.0,+254,6463.0
10,Netherlands,25587,"+1,174",2737.0,+94,250.0
11,Switzerland,25407,+300,1106.0,+70,12700.0
12,Canada,23738,+420,674.0,+21,6661.0
13,Brazil,21065,+103,1144.0,+4,173.0
14,Portugal,16585,+598,504.0,+34,277.0
15,Russia,15770,"+2,186",130.0,+24,1291.0
16,Austria,13945,+139,350.0,+13,6987.0
17,Israel,10878,+135,103.0,+2,1388.0
18,S. Korea,10512,+32,214.0,+3,7368.0
19,Sweden,10483,+332,899.0,+12,381.0
20,Ireland,9655,+727,334.0,+14,25.0
21,India,9166,+720,325.0,+37,1061.0
22,Ecuador,7466,+209,333.0,+18,501.0
23,Chile,7213,+286,80.0,+7,2059.0
24,Peru,6848,NaN,181.0,NaN,1739.0
25,Japan,6748,NaN,108.0,NaN,762.0
26,Poland,6674,+318,232.0,+24,439.0
27,Norway,6485,+76,126.0,+7,32.0
28,Australia,6313,+10,59.0,+3,3338.0
29,Romania,6300,+310,316.0,+25,852.0
...,...,...,...,...,...,...
184,St. Vincent Grenadines,12,NaN,NaN,NaN,1.0
185,Greenland,11,NaN,NaN,NaN,11.0
186,Seychelles,11,NaN,NaN,NaN,NaN
187,Suriname,10,NaN,1.0,NaN,4.0
188,Sierra Leone,10,NaN,NaN,NaN,NaN
189,MS Zaandam,9,NaN,2.0,NaN,NaN
190,Gambia,9,NaN,1.0,NaN,2.0
191,Nicaragua,9,NaN,1.0,NaN,4.0
192,Turks and Caicos,9,NaN,1.0,NaN,NaN
193,Montserrat,9,NaN,NaN,NaN,NaN
194,Cabo Verde,8,NaN,1.0,NaN,1.0
195,CAR,8,NaN,NaN,NaN,NaN
196,Vatican City,8,NaN,NaN,NaN,2.0
197,Mauritania,7,NaN,1.0,NaN,2.0
198,St. Barth,6,NaN,NaN,NaN,4.0
199,Western Sahara,6,NaN,NaN,NaN,NaN
200,Bhutan,5,NaN,NaN,NaN,2.0
201,Burundi,5,NaN,NaN,NaN,NaN
202,Falkland Islands,5,NaN,NaN,NaN,1.0
203,Sao Tome and Principe,4,NaN,NaN,NaN,NaN
204,South Sudan,4,NaN,NaN,NaN,NaN
205,Anguilla,3,NaN,NaN,NaN,NaN
206,British Virgin Islands,3,NaN,NaN,NaN,2.0
207,Caribbean Netherlands,3,+1,NaN,NaN,NaN
208,Papua New Guinea,2,NaN,NaN,NaN,NaN
209,Timor-Leste,2,NaN,NaN,NaN,1.0
210,Saint Pierre Miquelon,1,NaN,NaN,NaN,NaN
211,Yemen,1,NaN,NaN,NaN,NaN
212,China,82052,+99,3339.0,NaN,77575.0
213,Total:,1831203,"+51,460",113013.0,"+4,234",420484.0